<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <h2>
    Welcome in recepies book! What would you like to do?
  </h2>
  <hr>
  <a href="/recipes/list" class="btn btn-primary">View recipes</a>
  <a href="/recipes/add" class="btn btn-primary">Add recipe</a>
</div>
